@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #fffeff;
    --button: #2e68a0;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url(/images/Gradiant2.jpg);
    /* transform: rotate(40deg);     */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#nav {
    color: var(--primary-color);
    max-width: 20%;
    float: left;
    /* background-color: #2e68a0; */
    margin: 90px; 
    position: relative;
    cursor: pointer;
    transition: ease-in-out 0.7s;
}

#nav {
    position: fixed;
    margin-top: 340px;
}
.dots {
    position: fixed;
}


.profile {
    /* margin: 90px; */
    margin: 100px 0 0 90px ;
    display: flex;   
    gap: 1rem;
    position: fixed;
    transition: ease-in-out 0.7s all;

}

.profile h1 {
    font-size: 50px;
    margin-left: 34px;
    transition:  0.10s;
}

.profile img {
    border-radius: 150%;
}

.first3  {
    font-size: 1.3rem;
    margin-top: -60px;
}

.discover, .radio, .podcast {
    margin: 15px 0 0 0 ;
}
.Library {
    font-size: 0.8rem;
}
.second4 {
    font-size: 1rem;
    margin-left: 23px;
}

.playlist, .japansongs, .summer, .recent, .album, .song {
    margin: 20px 0 0 0 ;
}

.recent, .album, .song {
    margin: 20px 0 0 0 ;
}
/* .last3 {
    font-size: 0.8rem;
} */

.playlist {
    font-size: 0.8rem;
}

.japansongs, .summer {
    font-size: 1rem;
}

/* the gaps between the 3 sidenav sections */
.second4, .last3 {
    margin: 90px 0 0 0 ;
}

.Library {
    margin-bottom: 10px;
}

.dots {
    margin: 30px 0 0 30px;
}

#overlay {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.233);
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    /* border: 0 1px 1px 0 solid rgba( 255, 255, 255, 0.18 ); */
    width: 20%;
    min-height: 200vh;
    position: sticky;
    /* z-index of 1 to make the li background colour work */
    z-index: 1;
    transition: ease-in-out 0.7s;

}



#overlay2 {
    background: rgba(31, 29, 29, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    width: 500%;
    min-height: 200vh;
    position: fixed;
    z-index: -1;
}
section {
    z-index: 1;
}

.main {
    max-width: 100%;
    min-height: 100vh;
    position: absolute ;
    top: 0;
    /* left: 430px; */
    /* top right bottom left 430px left*/
    margin: 70px 0 0 470px;
}

.main-nav {
    /* max-width: 80%; */
    /* background-color: #2e68a0; */
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    margin: 0 10px 0 10px ;
    background: transparent;
    border: none;
    color: white;
    flex: 1;
}

/* .search-input.has-content {
    margin-left: 10px;
} */

.search-input::placeholder {
    padding: 10px; 
    color: white;
    font-size: 1.1rem;
    text-align: ;
}


.left-icons, .right-nav, .search {
    display: flex;
    align-items: center;
}

.right-nav {
    width: 100%;
}

.main-img {
    border-radius: 10px;
    position: relative;
}

.search {
    font-size: 1.1rem;
    margin: 0 0 0 10px ; 
    order: 1;
}

.status {
    font-size: 1.3rem;
}

.song-name {
    font-family: Poppins 'sans-serif';
    font-size: 2.8rem;
}
.description {
    /* font-size: 1.4rem; */
    
}

/* Align items vertically with margin */
/* 2 empty img tags were in html that caused margin comment for now */

.status {
    font-size: 34px;
    font-weight: 100;
}

.song-name {
    margin: 35px 0 0 0 ;
}

.description {
    margin-top: 33em ;
}

.play-button {
    margin: 23px 0 0 0 ;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.play-button {
    background-color: rgba(275, 275, 275, 0.25);
   -webkit-backdrop-filter: blur(10px);
    color: #fffeff;
    /* 2 values is top + bottom and left + right */
    padding: 10px 55px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.recent > a {
    margin: 0 0 0 15px;
}

.album > a {
    margin: 0 0 0 15px;
}

.song > a {
    margin: 0 0 0 15px;
}

.fa-bell {
    margin: 0 15px 0 0 ;
}

.left-icons input{
    width: 80rem;
    height: 38;
    border-radius: 5px;
}

.fa-gear i{
    float: right;
}

.first3 li a:hover {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur( 4px )    ;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    height: 3vh;
    border-radius: 1.5em;
    padding: 10px;}

.second-li li a:hover {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur( 4px )    ;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    height: 3vh;
    border-radius: 1.5em;
    padding: 10px;
}

.last-li li a:hover {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur( 4px )    ;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    height: 3vh;
    border-radius: 1.5em;
    padding: 10px;
}

.main-img {
    width: 26.5%;
    height: 36vh;
    position: absolute;
    left: 30rem;
}

.description {
    margin-top: 1em;
}

.song-name {
   font-size: 60px; 
}

.play-song {
    margin: 70px 0 0 0;
    height: auto;
}

/*           SCROLELR                */


.media-scroller {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 1460px;
  }
  
  .item-container {
    position: relative; /* Set container as relative for absolute positioning */
    margin: 10px;
  }
  
  .item {
    width: 320px;
    height: 320px;
    border-radius: 10%;
    position: relative; /* Set image as relative for absolute positioning */
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
  
/* 
.main {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.233);
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur(4px);
    z-index: 1000;
} */

/*                PLayer                              */

.bottom-container {
    display: flex;
    background: rgba(61, 61, 61, 0.858);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.479);
    -webkit-backdrop-filter: blur( 900px );
    height: 90px;
    /* top: 860px; */
    top: 88vh;
    right: 100%;
    width: 50%;
    /* Can find a better way of making it so that the search bar doesn't go all the way
    to the right, so it's in the main blur overlay thing */
    /* margin-right: 550px; */ 
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
}
  
.bottom-play {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.bottom-img {
    width: 90px; 
    height: 90px;
    margin: 0 5px 0 5px;
    padding: 14px;
    border-radius: 20px;
}
  
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-song-name {
font-size: 1.33rem;
}

.bottom-song-descrip {
font-size: 1rem;

}

.play-icons {
    display: flex;
    gap: 27px;
    align-items: center;
    /* Instead marin-left can use flex-end but not work */
    margin-left: 300px;
}

.play-icons i {
    font-size: 1.3rem;
}

.outer-circle {
    width: 65px;
    height: 65px;
    border: 6px solid rgb(21, 86, 129);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.inner-circle {
    width: 55px;
    height: 55px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

