@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #fffeff;
    --button: #2e68a0;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url(/images/Gradiant2.jpg);
    /* transform: rotate(40deg);     */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.nav {
    color: var(--primary-color);
    max-width: 20%;
    float: left;
    /* background-color: #2e68a0; */
    margin: 90px; 
    position: relative;
    cursor: pointer;
}

.nav {
    margin-top: -8;
    /* font-size: 1.2rem; */
    /* margin: 50px 0 0 0 ; */
}

.nav a{
    /* padding: 10px; */
}

.profile {
    /* margin: 90px; */
    margin: 60px 0 0 90px ;
    display: flex;   
    gap: 1rem;
}

.profile h1 {
    font-size: 50px;
}

.profile img {
    border-radius: 150%;
}

.first3  {
    font-size: 1.3rem;
    margin-top: -60px;
}

.discover, .radio, .podcast {
    margin: 15px 0 0 0 ;
}
.Library {
    font-size: 0.8rem;
}
.second4 {
    font-size: 1rem;
    margin-left: 23px;
}

.playlist, .japansongs, .summer, .recent, .album, .song {
    margin: 20px 0 0 0 ;
}

.recent, .album, .song {
    margin: 20px 0 0 0 ;
}
.last3 {
    font-size: 0.8rem;
}

/* the gaps between the 3 sidenav sections */
.second4, .last3 {
    margin: 90px 0 0 0 ;
}

.Library {
    margin-bottom: 10px;
}

.dots {
    margin: 30px 0 0 90px;
}

.overlay {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.233);
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    /* border: 0 1px 1px 0 solid rgba( 255, 255, 255, 0.18 ); */
    width: 20%;
    height: 200vh;
    position: relative;
    /* z-index of 1 to make the li background colour work */
    z-index: 1;
}



.overlay2 {
    background: rgba(31, 29, 29, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    width: 500%;
    height: 200vh;
    position: absolute;
    z-index: -1;
}
section {
    z-index: 1;
}

.main {
    max-width: 100%;
    min-height: 100vh;
    position: absolute ;
    top: 0;
    /* left: 430px; */
    /* top right bottom left 430px left*/
    margin: 70px 0 0 470px;
}

.main-nav {
    /* max-width: 80%; */
    /* background-color: #2e68a0; */
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.search-container {
    /* display: flex;
    align-items: center; */
    /* position: absolute;
    left: 0; */
}

.search-input {
    /* background-color: transparent; */
    margin: 0 10px 0 10px ;
    background: transparent;
    border: none;
    color: white;
}

.search-input::placeholder {
    padding: 10px; 
    color: white;
    font-size: 1.15rem;
}

.left-icons, .right-nav, .search {
    display: flex;
    align-items: center;
}

.main-img {
    border-radius: 10px;
    /* position: absolute;
    left: 400px; */
    /* margin: 30px 0 0 0 ; */
    /* float: right; */
}

/* Determine font size of main content headers */




.search {
    font-size: 1.1rem;
    margin: 0 0 0 10px ; 
    order: 1;
}

.status {
    font-size: 1.3rem;
}

.song-name {
    font-family: Poppins 'sans-serif';
    font-size: 2.8rem;
}
.description {
    /* font-size: 1.4rem; */
    
}

/* Align items vertically with margin */
/* 2 empty img tags were in html that caused margin comment for now */

.status {
    font-size: 34px;
    font-weight: 100;
}

.song-name {
    margin: 35px 0 0 0 ;
}

.description {
    margin-top: 33em ;
}

.play-button {
    margin: 10px 0 0 0 ;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.play-button {
    background-color: rgba(275, 275, 275, 0.25);
   -webkit-backdrop-filter: blur(10px);
    color: #fffeff;
    /* 2 values is top + bottom and left + right */
    padding: 10px 55px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.recent > a {
    margin: 0 0 0 15px;
}

.album > a {
    margin: 0 0 0 15px;
}

.song > a {
    margin: 0 0 0 15px;
}

.fa-bell {
    margin: 0 15px 0 0 ;
}

.left-icons input{
    width: 80rem;
    height: 38;
    border-radius: 5px;
}

.fa-gear i{
    float: right;
}

.first3 li a:hover {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur( 4px )    ;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    height: 3vh;
    border-radius: 1.5em;
    padding: 10px;
    /* transform: scale(1.1);
    transition: transform 0.3s ease; */
    /* padding: 10px 10px 10px 10px; */ /* change to transition scale 1.1 in final version */
}

.second-li li a:hover {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur( 4px )    ;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    height: 3vh;
    border-radius: 1.5em;
    padding: 10px;
}

.last-li li a:hover {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur( 4px )    ;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    height: 3vh;
    border-radius: 1.5em;
    padding: 10px;
}


.song-name, .song-img {
    display: flex;
    gap: 90px;
}

/* .discover, .radio, .podcast, .Library, .recent, .album, .song, .japansongs, .summer {
    
} */

.main-img {
    width: 32%;
    height: 39vh;
    position: absolute;
    left: 43rem;
    top: 0.2;
}

.description {
    margin-top: 1em;
}

.song-name {
   font-size: 60px; 
}

.play-song {
    margin: 63px 0 0 0;
}

/*           SCROLELR                */


.media-scroller img{
    max-height: 320px;
    border: 1px solid #ddd;
    /* width: 23%;
    height: 30vh;
    margin: 0 23px 0 0; */
    overflow-x: auto;
    display: flex;
    

}


.media-scroller .item{
    width: 310px;
    height: 310px;
    line-height: 110px;
    text-align: center;
    background-color: #ddd;
    
}
